.hero-heading-right {
    background-color: #000;
    border-bottom: 1px solid #000;
    padding: 80px 30px;
    position: relative;
}

.hero-heading-left {
    background-color: #000;
    border-bottom: 1px solid #000;
    padding: 80px 30px 0 30px;
    position: relative;
}

.hero-wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.hero-split {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 46%;
    display: flex;
}

.shadow-two {
    border-radius: 20px;
    box-shadow: 0 4px 24px #96a3b514;
}

.hero-margin {
    margin-bottom: 24px;
}

.features-list {
    padding: 80px 30px;
    position: relative;
}

.features-wrapper-two {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
}

.features-left {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 40%;
    display: flex;
}

.features-paragraph {
    margin-top: 16px;
    margin-bottom: 24px;
}

.features-right {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 46%;
    margin-bottom: -16px;
    margin-top: 1rem;
    display: flex;
    padding-left: 0;
    list-style: none;
}

.features-block-two {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
    margin-top: .25rem;
    padding-left: .5rem;
    display: flex;
}

.features-image {
    object-fit: cover;
    width: 80px;
    height: 80px;
    margin-right: 16px;
}

.shadow-two-2 {
    border-radius: 20px;
    box-shadow: 0 4px 24px #96a3b514;
}

@media (max-width: 768px) {
    .hero-wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: -40px;
    }

    .hero-heading-right, .hero-heading-left, .features-list {
        padding: 60px 15px;
      }

    .hero-split {
        max-width: 100%;
        margin-bottom: 40px;
      }

      .features-wrapper-two {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }

      .features-left {
        max-width: 100%;
        margin-bottom: 40px;
      }

      .features-right {
        max-width: 100%;
      }
}

.features-metrics {
    mix-blend-mode: normal;
    background-color: #000;
    border-bottom: 1px solid #e4ebf3;
    padding: 60px 30px;
    position: relative;
  }

  .container-4 {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .center-container {
    z-index: 100;
    text-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 770px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
  }

  .main-grid {
    grid-column-gap: 30px;
    grid-row-gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    width: 100%;
    display: grid;
  }

  .feature {
    text-align: center;
    background-color: #000;
    border: 1px solid #525252;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    padding: 30px 14px;
    display: flex;
  }

  .feature-1 {
    grid-area: 1 / 1 / 2 / 4;
  }

  .feature-2 {
    grid-area: 1 / 4 / 2 / 7;
  }

  .feature-3 {
    grid-area: 1 / 7 / 2 / 10;
  }

  .feature-icon {
    border-radius: 500px;
    width: 64px;
  }

  .h3.margin {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 14px;
    font-size: 22px;
    line-height: 28px;
  }

  .text {
    z-index: 100;
    color: var(--dark-grey);
    line-height: 26px;
    position: relative;
  }