.login-wrapper {
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    display: flex;
}

.login-form {
    text-align: center;
    flex-direction: column;
    max-width: 20rem;
    display: flex;
}

.login-label {
    font-family: 'Poetsen One', sans-serif;
    margin-bottom: 1rem;
}

.login-input {
    font-size: 1rem;
    font-family: 'Carlito', sans-serif;
    border: 1px solid var(--white);
    color: var(--white);
    background-color: transparent;
    border-radius: 0;
    padding: 0.75rem 1.5rem;
    margin-bottom: 1rem;
}

.login-button {
    font-size: 1rem;
    font-family: 'Carlito', sans-serif;
    border: 1px solid var(--white);
    color: var(--white);
    text-align: center;
    background-color: transparent;
    border-radius: 0;
    padding: 0.75rem 1.5rem;
    transition: color 0.2s, border-color 0.2s;
    text-decoration: none;
    margin: 1rem 0;

    &:hover {
        color: var(--dark-grey);
        border-color: var(--dark-grey);
        cursor: pointer;
    }
}