.portfolio-component {
  flex-direction: column;
  align-items: center;
}

.portfolio-list {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  grid-column-gap: 3rem; /* Gap between columns */
  grid-row-gap: 4rem; /* Gap between rows */
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin-bottom: 6rem;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  &.item-1 {
    grid-column: 1; /* First column */
    grid-row: 1; /* First row */
  }
  
  &.item-2 {
    grid-column: 2; /* Second column */
    grid-row: 1; /* First row */
  }
  
  &.item-3 {
    grid-column: 1; /* First column */
    grid-row: 2; /* Second row */
  }
  
  &.item-4 {
    grid-column: 2; /* Second column */
    grid-row: 2; /* Second row */
  }
}

.portfolio-image-link {
  width: 100%;
  text-decoration: none;
  display: inline-block;
}

.portfolio-image-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.portfolio-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.portfolio-tag-list {
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  display: flex;
}

.portfolio-tag-item {
  background-color: var(--dark-grey-2);
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .portfolio-list {
    grid-template-columns: 1fr; /* Single column layout */
    grid-row-gap: 2rem; /* Adjusted row gap for single column */
  }

  .portfolio-item {
    margin-bottom: 3rem;

    &.item-1,
    &.item-2,
    &.item-3,
    &.item-4 {
      grid-column: 1; /* All items in the first column */
      grid-row: auto; /* Natural order based on HTML */
    }
  }
}