@font-face {
    font-family: 'Poetsen One';
    src: url('../fonts/Poetsen_One/PoetsenOne-Regular.woff2') format('woff2'),
         url('../fonts/Poetsen_One/PoetsenOne-Regular.woff') format('woff'),
         url('../fonts/Poetsen_One/PoetsenOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Carlito-Bold';
    src: url('../fonts/Carlito/Carlito-Bold.woff2') format('woff2'),
        url('../fonts/Carlito/Carlito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carlito-Bold-Italic';
    src: url('../fonts/Carlito/Carlito-BoldItalic.woff2') format('woff2'),
        url('../fonts/Carlito/Carlito-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Carlito';
    src: url('../fonts/Carlito/Carlito-Regular.woff2') format('woff2'),
        url('../fonts/Carlito/Carlito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Carlito-Italic';
    src: url('../fonts/Carlito/Carlito-Italic.woff2') format('woff2'),
        url('../fonts/Carlito/Carlito-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

