html {
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--dark-grey);
  font-size: 1rem;
  line-height: 1.5;
  min-height: 100%;
  margin: 0;
  font-family: 'Carlito', sans-serif;
  background-color: var(--black);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

img {
  max-width: 100%;
  display: inline-block;
  border: 0;
  vertical-align: middle;
}

figure {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.inline-block {
  max-width: 100%;
  display: inline-block;
}

.display-hide {
  display: none;
}