.padding-global {
  padding-left: 5%;
  padding-right: 5%;
}

.padding-vertical,
.padding-vertical.padding-xxlarge,
.padding-vertical.padding-xlarge {
  padding-left: 0;
  padding-right: 0;
}

.padding-bottom,
.padding-bottom.padding-xxlarge {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-top,
.padding-top.padding-medium {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.padding-medium {
  padding: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.padding-xxlarge {
  padding: 5rem;
  padding-right: 5rem;
  padding-left: 5rem;
}

.padding-section-large {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.text-align-center {
  text-align: center;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.margin-zero {
  margin: 0;

  &.margin-top-xsmall {
    margin-top: 1rem;
  }

  &.margin-bottom-xsmall {
    margin-bottom: 1rem;
  }

  &.margin-bottom-small {
    margin-bottom: 1.5rem;
  }

  &.margin-bottom-xxlarge {
    margin-bottom: 5rem;
  }
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.container-2 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.container-small,
.container-medium,
.container-large {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &.container-small {
    max-width: 48rem;
  }

  &.container-medium {
    max-width: 64rem;
  }

  &.container-large {
    max-width: 80rem;
  }
}